body{
    background-image: url("https://wallpapers.com/images/high/classic-super-mario-wallpaper-8k-ultra-hd-wallpaper-and-background-6w71s2i3g53zwku9.jpg");

}
/* @keyframes rotate{
        0%{
           transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
} */
@keyframes roll{
    0%{
       left:70em;
    }
    100%{
       left: -7em;}
}

.shroom{
    margin-top: 24.5em;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    position: relative;
    animation: rotate 1s linear infinite, roll 5s linear infinite ;
}
.sonic{
    height: 100px;
    width: 100px;
    margin-top: 27.5%;
}
@keyframes double{
    0%{
       left:150em;
    }
    100%{
       left: -20em;}
}

.shroom2{
    margin-top: 24.5em;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    position: relative;
    animation: double 15s linear infinite ;
}